################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Atari_Imitation/data
/Atari_Imitation/logs
/Atari_Imitation/movie_folder*
/Atari_Imitation/data*
/Atari_Imitation/*.h5
/Atari_Imitation/*.pyproj
/.vs
/Atari_Imitation.sln
/Atari_Imitation/run.bat
