################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Atari_Imitation/data
/Atari_Imitation/logs
/Atari_Imitation/movie_folder
/Atari_Imitation/data_5
